<div ng-controller="ChipsTestController">
	<mdl-chip mdl-chip-text="SimpleChip"></mdl-chip>
	<mdl-chip mdl-chip-text="IconChip" mdl-chip-icon="user.jpg"></mdl-chip>
	<mdl-chip mdl-chip-text="ContactChip" mdl-chip-contact="A"></mdl-chip>

	<mdl-chip mdl-chip-text="SimpleChip">
		<mdl-chip-action>
			<i class="material-icons">cancel</i>
		</mdl-chip-action>
	</mdl-chip>
	<mdl-chip mdl-chip-text="IconChip" mdl-chip-icon="user.jpg">
		<mdl-chip-action>
			<i class="material-icons">cancel</i>
		</mdl-chip-action>
	</mdl-chip>
	<mdl-chip mdl-chip-text="ContactChip" mdl-chip-contact="A">
		<mdl-chip-action>
			<i class="material-icons">cancel</i>
		</mdl-chip-action>
	</mdl-chip>


</div>