<h4>FIXED TABS</h4>
<div class="layout-panel-example">
				
	<mdl-fixed-tabs>
		<m-title>
			Title
		</m-title>
		<m-tabs>
			<m-tab active>
				<m-caption>First</m-caption>
				<m-content>
					<h4>First Tab</h4>
					<p>
						Here is some content for the first tab.
					</p>
				</m-content>
			</m-tab>
			<m-tab>
				<m-caption>Second <div class="material-icons">account_box</div> </m-caption>
				<m-content>
					<h4>Second Tab</h4>
					<p>
						Here is some content for the second tab.
					</p>
				</m-content>
			</m-tab>
			<m-tab>
				<m-caption>Third</m-caption>
				<m-content>
					<h4>Third Tab</h4>
					<p>
						Here is some content for the third tab.
					</p>
				</m-content>
			</m-tab>
		</m-tabs>
	</mdl-fixed-tabs>
	
</div>