<mdl-button>simple</mdl-button>
<mdl-button ripple>ripple</mdl-button>
<mdl-button colored>colored</mdl-button>
<mdl-button raised>raised</mdl-button>
<mdl-button colored="primary">primary</mdl-button>
<mdl-button colored="accent">accent</mdl-button>
<mdl-button raised colored="primary">raised primary</mdl-button>
<mdl-button ripple raised colored="accent">ripple raised accent</mdl-button>
<mdl-button raised mdl-badge-overlap="1">raised</mdl-button>
<mdl-button colored="primary" mdl-badge="12">primary</mdl-button>
<mdl-button colored="accent" mdl-badge-overlap="35">accent</mdl-button>