<mdl-fab>add</mdl-fab>
<mdl-fab ripple>close</mdl-fab>
<mdl-fab colored disabled="false">class</mdl-fab>
<mdl-fab colored disabled="true" mdl-badge-overlap="♥">class</mdl-fab>
<mdl-fab colored="primary" mdl-badge-overlap="5">code</mdl-fab>
<mdl-fab colored="accent" mdl-badge="2">copyright</mdl-fab>
<br>
<mdl-fab mini>add</mdl-fab>
<mdl-fab mini ripple>close</mdl-fab>
<mdl-fab mini colored disabled="false">class</mdl-fab>
<mdl-fab mini colored disabled="true">class</mdl-fab>
<mdl-fab mini colored="primary">code</mdl-fab>
<mdl-fab mini colored="accent">copyright</mdl-fab>